*{
    margin :0;
    padding :0;
    font-family:Arial, Helvetica, sans-serif
}
:root{
    --text: #351a0a; /* done */
    --background: #f4f3ee; /* done */
    --primary: #8a817c;
    --secondary: #bcb8b1;
    --accent: #e0afa0;  /* done */
}

p{
    color: var(--text);
}

h2 {
    color: var(--text);
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--accent);
}

.container {
    background-color: var(--background);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid var(--primary);
    font-size: 1rem;
    height:3rem;
    padding-left: 0.5rem;
    color: var(--text);
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    color: var(--text);
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2.5rem;
}

.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    gap: 0.5rem; 
    background-color: var(--primary);

}

.select-container select{
    font-size: 1rem;
    width:auto;
    background: transparent;
    color: var(--text);
}

.msg{
    margin: 2rem 0;
    padding: 1rem;
    color: var(--text);
    text-align: center;
    border-radius: 0.5rem;
    background-color: var(--secondary);
}

form button{
    height: 3rem;
    background-color: var(--accent);
    color: var(--text);
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}